.Noise {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: red;
  background-image: url("../../../public/assets/noise.gif");
  opacity: 0.02;
  pointer-events: none;
  z-index: 999999;
}
